* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
	cursor: url("../assets/img/cursor.png"), auto;
	user-select: none;
	-webkit-user-drag: none;
}

body {
	background: #fff;
	color: #111;
	-webkit-font-smoothing: antialiased;
	transition: background 200ms ease-in-out;
	position: relative;
}

body.dark-theme {
	background: #111;
}

body,
input,
button {
	font-size: 1rem;
	font-family: 'Quicksand', sans-serif;
	font-weight: 500;
}

button {
	cursor: pointer;
}

p {
	transition: color 200ms ease-in-out;
}

audio#mp-audio-player {
	display: none;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	z-index: 1;
	backdrop-filter: blur(20px) brightness(1.5);
}

body.dark-theme nav {
	backdrop-filter: blur(20px) brightness(0.4);
}

nav img.background {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	opacity: .6;
	z-index: -5;
}

nav img.logo {
	height: 100px;
}

nav div.music-player {
	position: relative;
}

nav div.music-player img.mp-background {
	height: 90px;
	margin-bottom: -3px;
}

nav div.music-player p {
	position: absolute;
	left: 35px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 0.7rem;
	line-height: 1rem;
}

nav div.music-player div.control {
	position: absolute;
	right: 25px;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
}

nav div.music-player div.control button {
	border: none;
	background: none;
	position: relative;
}

nav div.music-player div.control button img {
	height: 50px;
	margin: -5px;
	margin-bottom: -8px;
}

nav div.music-player div.control button i {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-shadow: #00000055 0 2px 5px;
}

nav button#settings {
	border: none;
	background: none;
	z-index: 5;
	transition: transform 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

nav button#settings:hover {
	transform: scale(1.1);
}

nav button#settings img {
	height: 100px;
}

main {
	min-height: calc(100vh - 110px);
	display: flex;
	padding-top: 30px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

body.dark-theme main {
	color: #eee;
}

main div.welcome {
	max-width: 1000px;
	padding: 0 10px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-bottom: 20px;
}

body.hide-welcome main div.welcome {
	display: none;
}

div.cookbooks {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

div.cookbooks a {
	position: relative;
	overflow: hidden;
	transition: transform 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

div.cookbooks a:hover {
	transform: scale(1.03) rotate(-2deg);
}

div.cookbooks a img {
	max-width: 300px;
	aspect-ratio: 1/1;
	object-fit: contain;
}

div.cookbooks a.basic img {
	max-width: 260px;
}

div.cookbooks a p {
	position: absolute;
	top: 66px;
	text-align: center;
	width: 100%;
	font-weight: 900;
}

div.cookbooks a.large p {
	top: 97px;
}

div.cookbooks a.dots p {
	top: 76px;
	left: 12px;
}

div.cookbooks a.special p {
	top: 81px;
	left: 4px;
}

div.cookbooks a p.count {
	top: unset;
	bottom: 45px;
	left: unset;
	right: 25px;
	text-align: right;
	width: unset;
	font-size: 2rem;
	letter-spacing: -0.2rem;
}

div.cookbooks a.large p.count {
	bottom: 75px;
}

div.cookbooks a.dots p.count {
	bottom: 55px;
}

div.cookbooks a.special p.count {
	right: 30px;
	bottom: 60px;
}

div.cookbooks a img.icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, calc(-50% + 42px));
	width: 100px;
}

div.cookbooks a.large img.icon {
	transform: translate(-50%, calc(-50% + 35px));
}

div.cookbooks a.dots img.icon {
	transform: translate(-50%, calc(-50% + 45px));
}

div.cookbooks a.special img.icon {
	transform: translate(-50%, calc(-50% + 35px));
}


div.settings {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	backdrop-filter: blur(20px);
	background: #ffffff77;
	pointer-events: none;
	opacity: 0;
	transition: all 200ms ease-in-out;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

body.dark-theme div.settings {
	background: #000000dd;
	color: #fff;
}

div.settings.opened {
	pointer-events: all;
	opacity: 1;
}

div.setting {
	display: flex;
	gap: 10px;
	align-items: center;
}

div.setting button {
	width: 50px;
	aspect-ratio: 1/1;
	background: url('../assets/img/button_red.png');
	background-size: contain;
	border: none;
	position: relative;
}

div.setting button.enabled {
	background: url('../assets/img/button_green.png');
	background-size: contain;
}

div.setting button span {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 25px;
	height: 4px;
	background-color: #fff;
	box-shadow: #00000066 0 2px 3px;
	border-radius: 10px;
	transition: all 200ms ease-in-out;
}

div.setting button span:nth-child(1) {
	transform: translate(-50%, -50%) rotate(45deg);
}

div.setting button span:nth-child(2) {
	transform: translate(-50%, -50%) rotate(-45deg);
}

div.setting button.enabled span:nth-child(1) {
	width: 20px;
	transform: translate(calc(-50% + 3px), -50%) rotate(-55deg);
}

div.setting button.enabled span:nth-child(2) {
	width: 10px;
	transform: translate(calc(-50% - 5px), calc(-50% + 4px)) rotate(45deg);
}


div.cookbook-modal {
	position: fixed;
	top: 104px;
	bottom: 0;
	left: 0;
	right: 0;
	pointer-events: none;
	opacity: 0;
	background-color: transparent;
	backdrop-filter: blur(20px);
	transition: all 200ms ease-in-out;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 70px;
	overflow-y: auto;
	scale: 0.75;
}

div.cookbook-modal.opened {
	opacity: 1;
	background-color: #ffffff77;
	pointer-events: all;
	scale: 1;
}

body.dark-theme div.cookbook-modal.opened {
	background-color: #000000dd;
}

div.cookbook-modal button.close {
	width: 80px;
	aspect-ratio: 1/1;
	background: url('../assets/img/button_close.png');
	background-size: contain;
	background-repeat: no-repeat;
	border: none;
	position: absolute;
	top: 10px;
	left: 10px;

}

div.cookbook-modal p#book-title {
	margin-top: 50px;
	font-size: 2rem;
	font-weight: 900;
	border-image: url('../assets/img/info_board_dish_01_00.png') 199 fill / 56px / 40px 60px round;
}

div.cookbook-modal div.recipe {
	border-image: url('../assets/img/info_board_dish_01_01.png') 199 fill / 40px / 30px 40px round;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: calc(100% - 200px);
	gap: 25px;
}

div.cookbook-modal div.recipe p {
	text-align: left;
	filter: blur(5px);
}

body.show-spoilers div.cookbook-modal div.recipe p {
	filter: blur(0);
}

div.cookbook-modal div.recipe div.ingredients {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	justify-content: center;
	align-items: center;
}

div.cookbook-modal div.recipe div.ingredients img {
	width: 75px;
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
	padding: 15px 0;
	background-color: #eee;
}

body.dark-theme footer {
	background-color: #050505;
}

body.dark-theme footer p {
	color: #fff;
	opacity: .4;
}